.movie {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 82px;
}

.movie__intro,
.movieTrailer,
.movieMovie {
    width: 80%;
}

.movie__backdrop {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: 0 35%;
}

.movie__detail {
    align-items: center;
    width: 75%;
    display: flex;
    position: relative;
    bottom: 225px;
}

.movie__detailLeft {
    margin-right: 30px;
}

.movie__poster {
    width: 300px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.86) 0px 22px 40px 6px;
}

.movie__mobile_details {
    display: none;
}

.movie__detailRight {
    color: white;
    display: flex;
    flex-direction: column;
    height: 450px;
    justify-content: space-between;
    overflow-y: auto;
}

.movie__detailRight::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}
.movie__detailRight::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
}
.movie__detailRight::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

.movie__detailRightTop > div {
    text-shadow: 0px 0px 5px #000000;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.movie__name {
    font-weight: 600;
    font-size: 3rem;
}

.movie__voteCount {
    margin-left: 1rem;
}

.movie__genres {
    margin: 1.25rem 0;
}

.movie__genre {
    padding: 0.5rem;
    border: 2px solid white;
    border-radius: 20px;
}

.movie__detailRightBottom {
    margin: 2rem 0;
    flex: 0.8;
}

.synopsisText {
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
    font-weight: 600;
    display: flex;
    position: relative;
    align-items: center;
}
.synopsisText > div:last-of-type {
    margin-left: auto;
}

.movie__links {
    display: flex;
    justify-content: space-between;
    width: 75%;
    padding: 30px 0px;
}

.movie__heading {
    font-size: 2.2rem;
}

.movie__Button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 2rem;
    border-radius: 20px;
    cursor: pointer;
    width: 150px;
    color: black;
    font-weight: bold;
}

.movie__homeButton {
    background-color: rgb(255, 0, 0);
}

.movie__imdbButton {
    background-color: #f3ce13;
}

.newTab {
    margin-left: 1.4rem;
}

.movie__production {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-bottom: 4rem;
}

.movie__productionComapany {
    width: 200px;
    margin: 2rem;
}

.productionCompanyImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.trailer {
    width: 100%;
}

/* MovieYoutube */
.movieMovie {
    margin-top: 100px;
}

.titleTrailer,
.titleMovie {
    position: relative;
    margin: 0 0 10px 10px;
}

.titleTrailer::before,
.titleMovie::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 100%;
    background-color: #f84b2f;
    left: -10px;
}

/* Comment */

.containerComment {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 600px;
    overflow: hidden;
}

.containerTop {
    display: flex;
    width: 100%;
}

.containerImg {
    width: 55px;
    height: 55px;
    object-fit: cover;
    border-radius: 999px;
    margin-right: 25px;
}

.containerInput {
    width: 100%;
}

.inputType {
    position: relative;
    width: 100%;
    height: 40px;
    outline: none;
    border-bottom: 1px solid #aaa;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    color: #fff;
    font-size: 1.2rem;
}

.inputType.activeInput {
    border-bottom: 1px solid #fff;
}

.inputType::placeholder {
    font-size: 1.1rem;
    color: #aaa;
}

.containerBtn {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.deleteBtn {
    height: 45px;
    width: 80px;
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 20px;
}

.deleteBtn:hover {
    background-color: #a3a1a1;
}

.deleteBtn label,
.submitBtn label {
    font-size: 1.1rem;
    color: #fff;
    font-weight: 550;
}

.submitBtn {
    height: 45px;
    width: 120px;
    background-color: #272727;
    outline: none;
    border: none;
    border-radius: 20px;
    margin-left: 15px;
}

.submitBtn.activeBtn {
    color: #000000;
    background-color: #3ea6ff;
    cursor: pointer;
}

.containerBottom {
    width: 100%;
    height: 70%;
    overflow-y: auto;
}

.containerCommentUser {
    display: flex;
    margin: 10px 0 30px 0;
}

.infoUser {
    display: flex;
    margin-bottom: 5px;
}

.nameUser,
.datePost,
.titleConent {
    font-size: 1rem;
}

.datePost {
    margin: 0 5px 0 5px;
}

/* User Interface */

@media (min-width: 739px) and (max-width: 1023px) {
    .movie__detailRightBottom {
        display: none;
    }
    .movie__name {
        font-size: 2rem;
    }
}

@media (max-width: 739px) {
    .movie__intro,
    .movie__links,
    .movie__detailRight,
    .movie__heading,
    .movie__production {
        display: none;
    }
    .movie__mobile_details {
        display: block;
        margin-top: 20px;
    }
    .movie__detail {
        width: 80%;
        top: 100px;
    }
    .movie__poster {
        width: 100%;
    }
    .movie__name {
        font-size: 1.56rem;
    }
    .time_icon {
        margin-right: 5px;
    }
    .movie__mobile_runtime {
        display: flex;
        align-items: center;
    }
    .movie__mobile_geners {
        display: flex;
        flex-wrap: wrap;
    }
    .gener_name {
        position: relative;
        margin-right: 5px;
    }
    .gener_name::after {
        position: absolute;
        content: ",";

        right: -3px;
    }
    .gener_name::after:nth-last-child() {
        position: absolute;
        content: "";
    }
    .movie__detailLeft {
        margin: 0;
    }
}
